.vscode/**
.vscode-test/**
out-test/**
test/**
src/**
tsconfig.json
tsconfig.test.json
scripts/**
**/*.map
**/*.ts
**/tsconfig*.json
**/.mocharc.json
node_modules/**/*.md
node_modules/**/test/**
node_modules/**/*.ts
.gitignore
